 <html>
<body>
  <form action="/products" method="POST" role="form">



<h2>Add new product here</h2>


  <label for="name">Name:</label><br>
  <input type="text" id="name" name="product[name]" ><br>
  <label for="count">Count:</label><br>
  <input type="text" id="count" name="product[count]" ><br>
  <label for="price">Price:</label><br>
  <input type="text" id="price" name="product[price]"><br>
  <label for="creator">Creator:</label><br>
  <input type="text" id="creator" name="product[creator]"><br>
   <br/>
  </div>
  <input type="submit" value="Create Product">
</form>

</body>
 </html>
